@page "/AssessmentQuestions"
@layout UserLayout 






<div class="assessment-container">
    <h3>Assessment Questions</h3>
    <hr />
    @if (isLoading)
    {
        <div class="loading-overlay">
            <div class="loading-spinner">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <h3 class="loading-text">Please wait while we load the questions...</h3>
            </div>
        </div>
    }
    else if (AssessmentService.Assessment != null)
    {
        <EditForm Model="answers" OnValidSubmit="SubmitAnswers">
            @foreach (var question in AssessmentService.Assessment.Question)
            {
                <div class="question-wrapper mb-4">
                    <h5>@question.QuestionText</h5>
                    
                    <div class="options-wrapper">
                        @foreach (var option in question.Options)
                        {

                            <div class="form-check">
                            <input type="radio" id="@GetOptionId(question.QuestionId, option.OptionId)"
                               name="@question.QuestionId.ToString()"
                               value="@option.Text"
                               @onchange="(e) => OnOptionSelected(question.QuestionId, option.Text)" 
                               class="form-check-input" />

                            <label class="form-check-label" for="@GetOptionId(question.QuestionId, option.OptionId)">
                                @option.Text
                            </label>
                        </div>
                        }
                    </div>
                </div>
            }

            <button type="submit" style="width:100%" class="btn">Submit</button>
        </EditForm>
    }
    else
    {
        <p>Loading questions...</p>
    }
</div>

@code {
    // private AssessmentResponse assessmentResponse;
    private Dictionary<Guid, string> answers = new();
    [Inject] ResultViewModel Result { get; set; } = default!;
    private AssessmentResultResponseModel? Assessment = default!;
    [Inject]AssessmentService AssessmentService { get; set; } = default!;


    private void OnOptionSelected(Guid questionId, string selectedOptionText)
    {
        // Update the selected option for the question in the answers dictionary
        answers[questionId] = selectedOptionText;
    }

    private string GetOptionId(Guid questionId, Guid optionId)
    {
        return $"{questionId}-{optionId}";
    }

    private async Task SubmitAnswers()
    {
        var request = new SubmitAssessmentRequest
            {
                Answer = answers,
                AssesmentId = AssessmentService.Assessment.AssessmentId
            };

        Assessment = await _assessment.Submit(request);
        Result.AssessmentResult = Assessment;
        navigationManager.NavigateTo("/AssessmentResult");
    }

    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);

        if (AssessmentService.Assessment != null)
        {
            isLoading = false;
        }
        else
        {
            isLoading = false;
        }
    }

}
