@page "/UserDashboard"
@layout UserLayout  
@using Gateway.ClientAI.Services.Authentication
@using Microsoft.AspNetCore.Components.Authorization;
@using static Gateway.ClientAI.Models.QuestionGeneration.GenerateTextViewModel
@inject CustomAuthenticationStateProvider AuthenticationStateProvider
@inject IAssessment _assessment
@using Gateway.ClientAI.Services.QuestionGeneration
@using System.Net.Http.Headers
@using static Gateway.ClientAI.Models.QuestionGeneration.QuestionViewModel
@inject HttpClient _httpClient
@inject IJSRuntime _jsRuntime





<div class="container ">

    <div class="tab-buttons">
        <button class="@(activeTab == "Text" ? "active" : "")" @onclick="ShowTextInput">Type Text</button>
        <button class="@(activeTab == "Document" ? "active" : "")" @onclick="ShowDocumentUpload">Upload Document</button>
        <button class="@(activeTab == "Picture" ? "active" : "")" @onclick="ShowPictureUpload">Upload Picture</button>
    </div>

    @if (activeTab == "Text")
    {
        <EditForm Model="@textRequest" OnValidSubmit="SubmitText">
            <DataAnnotationsValidator />
            <div class="card p-3 form-container">
                <div class="form-group">
                    <b>Title</b>
                    <input type="text"  placeholder="Give your Text A Title" @bind="@textRequest.Title">
                    <ValidationMessage For="@(() => textRequest.Title)" />
                </div>
                <h5>Type Text to Generate Questions</h5>
                <div class="form-group mb-1">
                    <b><label for="typed-text">Text Input</label></b>
                    <textarea id="typed-text" class="form-control" rows="6" placeholder="Enter the text here" @bind="@textRequest.Content"></textarea>
                </div>
                @RenderQuestionSettings() 
                <button class="btn" type="submit">Generate Questions</button>
            </div>
        </EditForm>
    }
    else if (activeTab == "Document")
    {
       

        <div class="form-container">
            <div class="file-upload-container">
                <input type="file" name="document" id="fileInput" hidden
                       accept=".docx, .doc, .pdf, .pptx, .txt" />

                <div class="upload-area">
                    <svg width="80" height="80" viewBox="0 0 32 32" fill="none"
                         xmlns="http://www.w3.org/2000/svg" class="cent">
                        <circle cx="16" cy="16" r="16" fill="#F0F2F5"></circle>
                        <path d="M11.9998 14.3334C11.9998 12.3083 13.6415 10.6667 15.6665 10.6667C17.4603 10.6667 18.9545 11.9555 19.2712 13.6578C19.3156 13.8965 19.4863 14.0922 19.7167 14.1687C21.0439 14.6088 21.9998 15.8603 21.9998 17.3334C21.9998 19.1743 20.5075 20.6667 18.6665 20.6667C18.2983 20.6667 17.9998 20.9652 17.9998 21.3334C17.9998 21.7016 18.2983 22 18.6665 22C21.2438 22 23.3332 19.9107 23.3332 17.3334C23.3332 15.4051 22.164 13.7514 20.4974 13.0398C19.9271 10.9054 17.981 9.33337 15.6665 9.33337C12.9051 9.33337 10.6665 11.572 10.6665 14.3334C10.6665 14.4002 10.6678 14.4668 10.6704 14.5331C9.47349 15.2236 8.6665 16.517 8.6665 18C8.6665 20.2092 10.4574 22 12.6665 22C13.0347 22 13.3332 21.7016 13.3332 21.3334C13.3332 20.9652 13.0347 20.6667 12.6665 20.6667C11.1937 20.6667 9.99984 19.4728 9.99984 18C9.99984 16.8951 10.672 15.9457 11.6323 15.5412C11.9102 15.4241 12.0749 15.1351 12.034 14.8363C12.0115 14.6722 11.9998 14.5043 11.9998 14.3334Z"
                              fill="#475367"></path>
                        <path d="M15.5569 17.5018C15.8095 17.2772 16.1902 17.2772 16.4427 17.5018L17.4427 18.3907C17.7179 18.6353 17.7427 19.0567 17.4981 19.3318C17.2841 19.5726 16.9348 19.6217 16.6665 19.4664V22.6667C16.6665 23.0349 16.368 23.3334 15.9998 23.3334C15.6316 23.3334 15.3332 23.0349 15.3332 22.6667V19.4664C15.0648 19.6217 14.7156 19.5726 14.5016 19.3318C14.257 19.0567 14.2817 18.6353 14.5569 18.3907L15.5569 17.5018Z"
                              fill="#475367"></path>
                    </svg>

                    <div class="lower-edge">
                        <div class="upload-instructions">
                            <button type="button" id="fileButton" class="upload-button outlined large">
                                Click to
                                upload
                                file
                            </button>
                        </div>

                        <p class="file-requirements">
                            Maximum File Size: 15mb | Allowed File Types:pdf, docx, pptx
                        </p>
                    </div>
                </div>

            </div>
            @RenderQuestionSettings() 
            <button class="btn">Generate Questions</button>
        </div>
       
        
    }
    else if (activeTab == "Picture")
    {
        <div class="form-container">
            <h5>Upload a Picture to Generate Questions</h5>
            <div class="form-group mb-3">
                <input type="file" id="picture-file" class="form-control" accept="image/*">
                

                <div class="upload-area">
                    <svg width="80" height="80" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="cent">
                        <circle cx="16" cy="16" r="16" fill="#F0F2F5"></circle>
                        <path d="M24 10H8C7.44772 10 7 10.4477 7 11V21C7 21.5523 7.44772 22 8 22H24C24.5523 22 25 21.5523 25 21V11C25 10.4477 24.5523 10 24 10Z" fill="#475367" />
                        <path d="M11 12C11.5523 12 12 12.4477 12 13C12 13.5523 11.5523 14 11 14C10.4477 14 10 13.5523 10 13C10 12.4477 10.4477 12 11 12Z" fill="#F0F2F5" />
                        <path d="M16.6667 15L14 19L11.3333 15.5L8 21H24L16.6667 15Z" fill="#F0F2F5" />
                    </svg>

                    <div class="lower-edge">
                        <div class="upload-instructions">
                            <button type="button" id="fileButton" class="upload-button outlined large">
                                Click to
                                upload
                                image
                            </button>
                        </div>

                        <p class="file-requirements">
                            Maximum File Size: 5mb
                        </p>
                    </div>
                </div>

            </div>
            @RenderQuestionSettings()
            <button class="btn">Generate Questions</button>
        </div>
    }
</div>

@code {
    private TextModel textRequest;
    private AssessmentResponse assessmentViewModel;
    private AssessmentService AssessmentService { get; set; }
    private AuthenticationState _authState;
    private string activeTab = "Text";
    Choice Choice = new Choice();

    private string userRole;

    protected override async Task OnInitializedAsync()
    {
        textRequest = new TextModel
        {
            Choice = new Choice() 
        };

        _authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = _authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var roleClaim = user.FindFirst(c => c.Type == "role");
            if (roleClaim != null)
            {
                userRole = roleClaim.Value;
            }
        }
        else
        {
            navigationManager.NavigateTo("/UserDashboard");
        }
    }

    private RenderFragment RenderQuestionSettings() => @<div class="form-input">
        @if (textRequest?.Choice != null)
    {
        <div class="form-group">
            <label for="question-type">
                <b>Question Type</b>
                <p class="info tooltip" data-tooltip-content="Choose the type of questions you would like to generate">i</p>
            </label>
            <div class="custom-select-wrapper">
                <select id="question-type" class="form-control" @bind="@textRequest.Choice.Type">
                    <option value="0">Select Question Type</option>
                    <option value="@QuestionType.MultipleChoice">Multiple Choice</option>
                    <option value="@QuestionType.TrueOrFalse">True or False</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="question-count">
                <b>Number of Questions</b>
                <p class="info tooltip" data-tooltip-content="Number of questions you can generate depend on your Subscription">i</p>
            </label>
            <div class="custom-select-wrapper">
                <select id="question-count" class="form-control" @bind="@textRequest.Choice.NumberOfQuestion">
                    @if (userRole == "Basic")
                {
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="0">Subscribe to get more options</option>
                }
                else if (userRole == "Classic")
                {
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option>Subscribe to get more options</option>
                }
                else if (userRole == "Standard")
                {
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                }
                else
                {
                    <p>Not Authorized</p>
                }
                </select>
            </div>
        </div>
    }
    else
    {
        <p>Error: Choice is not initialized</p>
    }
    </div>;



    private void ShowTextInput()
    {
        activeTab = "Text";
    }

    private void ShowDocumentUpload()
    {
        activeTab = "Document";
    }

    private void ShowPictureUpload()
    {
        activeTab = "Picture";
    }

    async Task SubmitText()
    {
        try
        {
            assessmentViewModel = await _assessment.TextGeneratedQuestion(textRequest);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error during API call: {ex.Message}");
        }

        AssessmentService.Assessment = assessmentViewModel;
        navigationManager.NavigateTo("/AssessmentQuestion");
    }

} 
  